body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -2;
}

.inside-video {
  position: relative;
  z-index: 1;
  color: white;
}

#container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background-color: #2b0606;
  color: white;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  font-family: "Exo 2", sans-serif;
  padding-left: 40px;
}

.header-png {
  max-width: 100%;
  transition: none;
  transform: none;
  border: none;
  translate: none;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-name {
  margin-left: 5px;
}

.header-links {
  display: flex;
  gap: 10px;
  font-size: 20px;
  gap: 25px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.left-items {
  display: flex;
}

.right-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

#layer1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 540px;
  margin-top: 75px;
  margin-bottom: 140px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 130px;
  border-radius: 11px;
  border: #313131 solid 2px;
  gap: 20px;
}

#mid-night-magazine {
  width: 27vw;
  transition: none;
  transform: none;
  border: none;
}

.layer1-left {
  margin-left: 20px;
  padding: 35px;
}

.layer1-right {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b0606;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8px;
}

.layer1-header {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 0.8em rgb(127.5, 126.5, 127.5);
}

.layer1-text {
  padding-top: 5px;
  font-size: large;
}

.sign-up-btn {
  padding-top: 25px;
  background: none;
  border: 2px solid #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  border-radius: 8px;
}

.sign-up-btn:hover {
  color: #fff;
}

.sign-up-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff1010;
  z-index: -1;
  transition: 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.sign-up-btn::before {
  transform: scaleX(0);
}

.sign-up-btn:hover::before {
  transform: scaleX(1);
}

#layer2-container {
  width: 100%;
  background-image: linear-gradient(rgb(46, 5, 5),rgb(31, 5, 5));
  height: fit-content;
  box-shadow: 0 10px 30px black;
}

.layer2-header {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  color: #fff;
  text-shadow: 0 10px 30px black;
}

.layer2-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  flex-wrap: wrap;
}

.layer2-images {
  transition: 1s;
}

.layer2-images:hover {
  transform: translateY(-10px);
}

.layer2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  text-shadow: 0 10px 30px black;
}

.png {
  border: #586f7c solid 2px;
  border-radius: 8px;
}

.png:hover {
  box-shadow: 0 10px 30px #586f7c;
}

#layer3-container {
  background-image: url(https://i0.wp.com/thebackroads.co.uk/wp-content/uploads/2020/11/toptop-e1603529211891-1024x816-1.jpg?fit=1024%2C816&ssl=1);
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  flex-direction: column;
  align-items: flex-start;
}

.layer3-text {
  align-self: center;
  font-family: "Brygada 1918", serif;
  font-size: larger;
  color: #fff;
  text-shadow: 0 0 3px black;
}

.quote-author {
  font-size: 34px;
  text-align: end;
  font-weight: bold;
}

#layer4-container {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(rgb(80, 9, 9),rgb(43, 7, 7));
  padding-top: 90px;
  padding-bottom: 90px;
}

.container-of-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 70%;
  box-sizing: border-box;
  margin-left: 200px;
  border-radius: 11px;
  background-color: #4c0e0e;
  border: black solid 2px;
  color: #fff;
  gap: 60px;
}

.layer4-header {
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

.layer4-button {
  margin-top: 50px;
}

.button4 {
  padding-top: 25px;
  border: 2px solid #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  color: #000;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  border-radius: 8px;
}

.button4:hover {
  color: #ff0909;
}

.button4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.button4::before {
  transform: scaleX(0);
}

.button4:hover::before {
  transform: scaleX(1);
}

footer {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 50px;
 background-color: #000;
 gap: 30px;
}

.github-link, .TOP-link {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}